/* Coloration syntaxique Rouge (thème monokai.sublime), générée par : rougify style monokai.sublime --scope ".prose .highlight" */
.prose .highlight table td { padding: 5px; }
.prose .highlight table pre { margin: 0; }
.prose .highlight .gh {
  color: #999999;
}
.prose .highlight .sr {
  color: #f6aa11;
}
.prose .highlight .go {
  color: #888888;
}
.prose .highlight .gp {
  color: #555555;
}
.prose .highlight .ge {
  font-style: italic;
}
.prose .highlight .ges {
  font-weight: bold;
  font-style: italic;
}
.prose .highlight .gs {
  font-weight: bold;
}
.prose .highlight .gu {
  color: #aaaaaa;
}
.prose .highlight .nb {
  color: #f6aa11;
}
.prose .highlight .cm {
  color: #75715e;
}
.prose .highlight .cp {
  color: #75715e;
}
.prose .highlight .c1 {
  color: #75715e;
}
.prose .highlight .cs {
  color: #75715e;
}
.prose .highlight .c, .prose .highlight .ch, .prose .highlight .cd, .prose .highlight .cpf {
  color: #75715e;
}
.prose .highlight .err {
  color: #960050;
}
.prose .highlight .gr {
  color: #960050;
}
.prose .highlight .gt {
  color: #960050;
}
.prose .highlight .gd {
  color: #49483e;
}
.prose .highlight .gi {
  color: #49483e;
}
.prose .highlight .kc {
  color: #66d9ef;
}
.prose .highlight .kd {
  color: #66d9ef;
}
.prose .highlight .kr {
  color: #66d9ef;
}
.prose .highlight .no {
  color: #66d9ef;
}
.prose .highlight .kt {
  color: #66d9ef;
}
.prose .highlight .mf {
  color: #ae81ff;
}
.prose .highlight .mh {
  color: #ae81ff;
}
.prose .highlight .il {
  color: #ae81ff;
}
.prose .highlight .mi {
  color: #ae81ff;
}
.prose .highlight .mo {
  color: #ae81ff;
}
.prose .highlight .m, .prose .highlight .mb, .prose .highlight .mx {
  color: #ae81ff;
}
.prose .highlight .sc {
  color: #ae81ff;
}
.prose .highlight .se {
  color: #ae81ff;
}
.prose .highlight .ss {
  color: #ae81ff;
}
.prose .highlight .sd {
  color: #e6db74;
}
.prose .highlight .s2 {
  color: #e6db74;
}
.prose .highlight .sb {
  color: #e6db74;
}
.prose .highlight .sh {
  color: #e6db74;
}
.prose .highlight .si {
  color: #e6db74;
}
.prose .highlight .sx {
  color: #e6db74;
}
.prose .highlight .s1 {
  color: #e6db74;
}
.prose .highlight .s, .prose .highlight .sa, .prose .highlight .dl {
  color: #e6db74;
}
.prose .highlight .na {
  color: #a6e22e;
}
.prose .highlight .nc {
  color: #a6e22e;
}
.prose .highlight .nd {
  color: #a6e22e;
}
.prose .highlight .ne {
  color: #a6e22e;
}
.prose .highlight .nf, .prose .highlight .fm {
  color: #a6e22e;
}
.prose .highlight .vc {
  color: #ffffff;
  background-color: #272822;
}
.prose .highlight .nn {
  color: #ffffff;
  background-color: #272822;
}
.prose .highlight .nl {
  color: #ffffff;
  background-color: #272822;
}
.prose .highlight .ni {
  color: #ffffff;
  background-color: #272822;
}
.prose .highlight .bp {
  color: #ffffff;
  background-color: #272822;
}
.prose .highlight .vg {
  color: #ffffff;
  background-color: #272822;
}
.prose .highlight .vi {
  color: #ffffff;
  background-color: #272822;
}
.prose .highlight .nv, .prose .highlight .vm {
  color: #ffffff;
  background-color: #272822;
}
.prose .highlight .w {
  color: #ffffff;
  background-color: #272822;
}
.prose .highlight {
  color: #ffffff;
  background-color: #272822;
}
.prose .highlight .n, .prose .highlight .py, .prose .highlight .nx {
  color: #ffffff;
  background-color: #272822;
}
.prose .highlight .ow {
  color: #f92672;
}
.prose .highlight .nt {
  color: #f92672;
}
.prose .highlight .k, .prose .highlight .kv {
  color: #f92672;
}
.prose .highlight .kn {
  color: #f92672;
}
.prose .highlight .kp {
  color: #f92672;
}
.prose .highlight .o {
  color: #f92672;
}
